
html,
body {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    /*font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;*/
    font-family: 'Century Gothic', Helvetica, Dosis;
}


p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
}

.accordion {
  margin-bottom: 20px;
}

.accordion-group {
  margin-bottom: 2px;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.accordion-heading {
  border-bottom: 0;
 
  
}

.accordion-heading a{
  color: #333333;
  font-weight: normal;
   text-decoration: none;
}

.accordion-heading .accordion-toggle {
  display: block;
  padding: 8px 15px;
}

.accordion-toggle {
  cursor: pointer;
}

.accordion-inner {
  padding: 9px 15px;
  border-top: 1px solid #e5e5e5;
}


.navbar{
  background-color: #f6f6f6;
    margin: 0;

}

.navbar-header img{
   width: 150px;
   height: auto;
   min-width: 150px;
   min-height: auto;
}


.navbar-brand{
    height: auto;
}

.navbar-default a{
  cursor: pointer;
}

.navbar-default .first>li{
  text-align: center;
}

.navbar-default .last{
    padding: 0;
    margin: 0;
    text-align: left;
 }

.navbar-default .last>li{
    margin: 0;
    text-align: center;
}


.navbar-default .last>li>ul>li{
     list-style: none;

}

.navbar-default .last>li:nth-child(1){

}

.navbar-default .last>li:nth-child(1)>ul>li:first-child,
.navbar-default .last>li:nth-child(3)>ul>li:first-child{
  font-size: 15px;
}

.navbar-default .last>li:nth-child(1)>ul>li:last-child{
  color: #ce0009;
  font-size: 28px;
}

.navbar-default .last>li:nth-child(2) a{
  margin: 0;
  padding: 0;
}

.navbar-default .last>li:nth-child(2){
  text-align: center;
  margin: 0;
  padding-right: 25px;
  padding-left: 25px
}


.navbar-default .last>li:nth-child(3)>ul>li:last-child a{
  color: #ce0009;
  font-size: 16px;
  text-transform: uppercase;
}

.navbar-default .first>li>a.active{
  color: #FFFFFF;
  background-color: #ED1C24;
  border-radius: 7%;
 /* transform: rotate(-4deg);*/
  font-weight: bold;
}

.navbar-default .first>li>a:active,
.navbar-default .first>li>a:hover{
  color: #CE0009;
  background-color: rgb(206, 0, 9);
  color: #fff;
  border-radius: 8px;
   -webkit-transition:all 1s ease-in;
    -moz-transition:all 1s ease-in;
    -o-transition:all 1s ease-in;
    -ms-transition:all 1s ease-in;
    transition:all 1s ease-in;  
}


header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    /*background-image: url(../img/Desert.jpg);*/

    background: url(../img/Gedung4.jpg);

    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    -webkit-transition:all 1s ease-in;
    -moz-transition:all 1s ease-in;
    -o-transition:all 1s ease-in;
    -ms-transition:all 1s ease-in;
    transition:all 1s ease-in;  
     padding: 10px 0;
}


header .header-content {
    position: relative;
    width: 100%;
    padding: 50px  15px;
    text-align: center;
}

header .bubble{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
	margin-top: 120px;
}


header .bubble h2,p{
   color: #000;
   padding: 1px;
}

header .bubble .bubble-inside{
    padding: 10px 0;
}

header h2{
    text-align: left;
    font-weight: normal;
   
}


section{
    overflow: visible;
}



#shortcut{
   padding-top: 50px;
   background-color: #fff;
   z-index: 999;
}

#shortcut>.container{
	margin-top: 4px;
}


#shortcut #ul-main-menu{
   padding: 0;
   margin: 0;
   text-align: center;
   overflow: hidden;
}

#shortcut #ul-main-menu li{
   list-style-type: none;
   display: inline;

}

#shortcut #ul-main-menu .btn{
   width: 100%;
   border-radius: 15px;
   color: #fff;
   border: 1px solid #CCC;
}

#shortcut #ul-main-menu .btn-reg{
     background: -webkit-linear-gradient(#5a76fe, #24769f);
    background: -moz-linear-gradient(#5a76fe,  #24769f);
    -webkit-transition:background-color 500ms ease-in-out;
   -moz-transition:background-color 500ms ease-in-out;
}

#shortcut #ul-main-menu .btn-reg:hover,
#shortcut #ul-main-menu .btn-reg:active{
     background: -webkit-linear-gradient(#24769f, #24769f);
    background: -moz-linear-gradient(#24769f,  #24769f);
    -webkit-transition:background-color 500ms ease-in-out;
   -moz-transition:background-color 500ms ease-in-out;
}


#shortcut #ul-main-menu .btn-filing{
     background: -webkit-linear-gradient(#DC143C, #FF1493);
    background: -moz-linear-gradient(#DC143C,   #FF1493);
    -webkit-transition:background-color 500ms ease-in-out;
   -moz-transition:background-color 500ms ease-in-out;
}


#shortcut #ul-main-menu .btn-filing:hover,
#shortcut #ul-main-menu .btn-filing:active{
     background: -webkit-linear-gradient(#DC143C, #DC143C);
    background: -moz-linear-gradient(#DC143C,  #DC143C);
    -webkit-transition:background-color 500ms ease-in-out;
   -moz-transition:background-color 500ms ease-in-out;
}



#shortcut #ul-main-menu .btn-announ{
     background: -webkit-linear-gradient(#fe3001, #c71015);
    background: -moz-linear-gradient(#fe3001,  #c71015);
    -webkit-transition:background-color 500ms ease-in-out;
   -moz-transition:background-color 500ms ease-in-out;
}

#shortcut #ul-main-menu .btn-announ:hover,
#shortcut #ul-main-menu .btn-announ:active{
     background: -webkit-linear-gradient(#fe3001, #fe3001);
    background: -moz-linear-gradient(#fe3001,  #fe3001);
    -webkit-transition:background-color 500ms ease-in-out;
   -moz-transition:background-color 500ms ease-in-out;
}



#shortcut #ul-main-menu .btn-verification{
     background: -webkit-linear-gradient(#8ff42c, #43bb01);
    background: -moz-linear-gradient(#8ff42c,  #43bb01);
    -webkit-transition:background-color 500ms ease-in-out;
   -moz-transition:background-color 500ms ease-in-out;
}

#shortcut #ul-main-menu .btn-verification:hover,
#shortcut #ul-main-menu .btn-verification:active{
     background: -webkit-linear-gradient(#43bb01, #43bb01);
    background: -moz-linear-gradient(#43bb01,  #43bb01);
    -webkit-transition:background-color 500ms ease-in-out;
   -moz-transition:background-color 500ms ease-in-out;
}



#shortcut #ul-main-menu .btn-report{
     background: -webkit-linear-gradient(#800080, #9400D3);
    background: -moz-linear-gradient(#800080,  #9400D3);
    -webkit-transition:background-color 500ms ease-in-out;
   -moz-transition:background-color 500ms ease-in-out;
}

#shortcut #ul-main-menu .btn-report:hover,
#shortcut #ul-main-menu .btn-report:active{
     background: -webkit-linear-gradient(#9400D3, #9400D3);
    background: -moz-linear-gradient(#9400D3,  #9400D3);
    -webkit-transition:background-color 500ms ease-in-out;
   -moz-transition:background-color 500ms ease-in-out;
}



#shortcut #ul-main-menu .btn-audit{
     background: -webkit-linear-gradient(#FF4500, #FF8C00);
    background: -moz-linear-gradient(#FF4500,  #FF8C00);
    -webkit-transition:background-color 500ms ease-in-out;
   -moz-transition:background-color 500ms ease-in-out;
}

#shortcut #ul-main-menu .btn-audit:hover,
#shortcut #ul-main-menu .btn-audit:active{
    background: -webkit-linear-gradient(#FF8C00, #FF8C00);
    background: -moz-linear-gradient(#FF8C00,  #FF8C00);
    -webkit-transition:background-color 500ms ease-in-out;
   -moz-transition:background-color 500ms ease-in-out;
}


#shortcut #ul-main-menu .btn-admin{
     background: -webkit-linear-gradient(#4B0082, #483D8B);
    background: -moz-linear-gradient(#4B0082,  #483D8B);
    -webkit-transition:background-color 500ms ease-in-out;
   -moz-transition:background-color 500ms ease-in-out;
}

#shortcut #ul-main-menu .btn-admin:hover,
#shortcut #ul-main-menu .btn-admin:active{
    background: -webkit-linear-gradient(#483D8B, #483D8B);
    background: -moz-linear-gradient(#483D8B,  #483D8B);
    -webkit-transition:background-color 500ms ease-in-out;
   -moz-transition:background-color 500ms ease-in-out;
}




#info{
   margin-top: 100px;
}

#info .col-lg-8{
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    padding-top: 10px;
}

#info img{
    min-width: 80px;
    width: 80px;
    float: left;
}

#info .col-lg-8 {
    margin-top: 50px;
	
}

#info .col-lg-8 h2,
#info .col-lg-8 p{
    padding-left: 100px;
}

#info .col-lg-8 h2{
    text-transform: uppercase;
}

#info .col-lg-8 p a{
    text-transform: uppercase;
    color: red;
    display: block;
    padding-top: 10px;
}

#info .col-lg-8 p:before{
    content: "";   
    padding-top: auto;
    border-left: 1px solid #e1e1e1;
    position: absolute;
    z-index: 900;
    top: 0;
    margin-top: 20px;
    margin-left: -10px;
}

.scroll-to-top {
  background: #3B3B3B;
  background: rgba(0, 0, 0, 0.4);
  color: #FFF;
  bottom: 4%;
  cursor: pointer;
  display: none;
  position: fixed;
  right: 20px;
  z-index: 1040;
  font-size: 16px;
  padding: 2px 10px;
  border-radius: 4px;
  -webkit-transition: background-color 0.1s linear;
     -moz-transition: background-color 0.1s linear;
       -o-transition: background-color 0.1s linear;
          transition: background-color 0.1s linear;
}
.scroll-to-top:hover {
  background: #d2232a;
  opacity: .8;
}




#footer{
   border-top: 1px solid #9d9d9d;
  background: #d2d2d1; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left,  #d2d2d1 , #fdfdfd); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right,  #d2d2d1, #fdfdfd); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right,  #d2d2d1, #fdfdfd); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right,  #d2d2d1 , #fdfdfd); /* Standard syntax */
  padding: 20px 0;
} 

#footer p{
    font-size: 14px;
    text-align: center;
}

#footer ul{
    margin: 0;
    padding: 0;
    text-align: center;
}

#footer ul li{
    list-style: none;
    display: inline-table;
}

#footer ul li a{
    margin-right: 10px;
}

#footer ul li img{
   vertical-align: middle;
   width: 65px;
   height: 30px;
   min-width: 65px;
   min-height: 30px;
 
}

#footer .copyright{
   text-align: center;
   padding-top: 20px;
}

#footer .copyright strong{
     font-weight: normal;
     color: #000;
     font-size: 15px;
}


#wrapper{
   padding: 120px 0;
   min-height: 100%;
}





#wrapper #wrapper-main{
  padding-top: 30px;
  padding-left: 25px;
}

#wrapper #wrapper-main #wrapper-name{
   font-weight: normal;
   font-size: 20px;
   padding-bottom: 7px;
   color: #f55800;
}

#wrapper .wrapper-border{
     border-left: 1px solid #cacaca;
}

#wrapper .wrapper-border ul{
  margin: 0;
  padding: 0;
}

#wrapper .wrapper-border ul>li{
  list-style-type: none;
  padding-top: 5px;
}

#wrapper .wrapper-border>.row> {
  border: 1px solid red;
  height: 100%;
}

#wrapper #wrapper-main .bubble-silver p{
   font-weight: normal;
   color: #333333;
   padding: 10px;
   background-color: #f7f7f7;
   border-radius: 7px;
   border: 1px solid #cacaca;
   font-size: 13.5px;
}

.mail-notif{
    position: relative; 
} 


.mail-notif label{
   position: absolute;
    text-align: center;
    font-size: 9px;
    padding: 2px 3px;
    line-height: .9;
    color: red;
}

#wrapper .wrapper-border>.row>.col-lg-2:nth-child(2){
  border: 1px solid red;
}

.mail-notif-text{
  text-decoration: none;
  font-size: 18px;
  color: #000;
}

.mail-notif-text:hover{
   text-decoration: none;
   color: #000;
}

.mail-notif-text strong{
  color: red;
}

#wrapper  hr{
  margin-top: 5px;
  margin-bottom: 5px;
}


.wrapper-table{
  padding-top: 100px;
  text-align: center;
}

.wrapper-table label{
  font-weight: normal;
  font-size: 28px;
}

.wrapper-table table{
  margin-top: 50px;
  text-align: left;
}

.button-menu a{
  width: 90%;
  text-align: left;
  background-color: #ececec;
}

.button-menu a:last-child{
  margin-bottom: 2px;
}

#wrapper .wrapper-border>.row>.col-lg-3{
  height: 100px;
}



#wrapper .wrapper-border .nav-list{

}

.nav-pills li{
  width: 100%;
}

.nav-pills>li>a{
  color: #333333;
  border: 1px solid #fff;
  background: -webkit-linear-gradient(#fff, #fff);
  background: -moz-linear-gradient(#fff, #fff);
  -webkit-transition: background-color 500ms ease-in-out;
  border-radius: 6px;
  padding: 6px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover,
.nav-pills>li>a:hover
{
  color: #fff;
  border: 1px solid #CCC;
  background: -webkit-linear-gradient(#5a76fe, #5a76fe);
  background: -moz-linear-gradient(#5a76fe, #5a76fe);
  -webkit-transition: background-color 500ms ease-in-out;
}


#wrapper .x-search{
   border-radius: 0px;
}

#wrapper .txt-search{
   background-color: #e4e4e4;
   padding: auto;
   text-align: left;
}


#wrapper .table-mail,
#wrapper .table-mail th,
#wrapper .table-mail td
{
   border-color: transparent;
}

#wrapper .table-mail th,
#wrapper .table-mail td{
  border-bottom: 1px solid #ececec;
}

#wrapper .form-mailbox .x-button{
  background-color: #ececec;
  margin-top: 10px;
  width: 100%;
}

#wrapper .navbar-form{

}


#footer .footer-logo-wrapper{
 
}

#footer .footer-logo{
  padding: 15px 0;
  height: auto;
   border-right: 1px solid #9d9d9d;
   padding-right: 20px;
}

#footer .footer-logo-wrapper{
  margin: 0;

}

#footer .footer-paragraf-wrapper p{
   text-align: left;
   padding-left: 50px;
}


#advers{
  text-align: center;
  padding: 15px 0;
  margin-bottom: 100px;
}

#advers ul{
  margin: 0;
  padding: 0;
}

#advers ul li{
  list-style: none;
  display: inline;
}

#form-send{
  border: 1px solid #9d9d9d;
   width: 45%;
   position: absolute;
   top: 200px;
   margin-top: 7px;
   z-index: 9;
   background-color: #fff;
   top: 0;
   height: 360px;
   display: none;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -o-transition: all 200ms;
    -ms-transition: all 200ms;
    transition: all 200ms;
    padding: 0;
}

#form-send span{
  display: block;
}

#form-send .f-header{
   background-color: #666666;
   padding: 10px 0;
   overflow: hidden;
}

#form-send .f-header label{
   padding-left: 10px;
   font-weight: normal;
   color: #fff;
}

#form-send .f-header  i{
   color: #fff;
}

#form-send .f-header a{
   float: right;
}

#form-send .f-header i{
  padding-right: 18px;
}

#form-send .f-content{
   margin: 0;
   padding: 0;
}

#form-send .f-content input[type='text'],
#form-send .f-content textarea{
  display: block;
  padding: 10px 0px 0px 10px;
  width: 100%;
  border: none;
}

#form-send .f-content input{
  padding-left: 10px;
}
 
#form-send .f-content textarea{
  padding-left: 10px;
}

#form-send .f-content input:nth-child(2){
  font-weight: bold;
}

#form-send .f-content button{
  margin-left: 10px;
  border-radius: 0;
}

#form-send .f-content .btn{
  margin-top: 20px;
}

#form-send .btn-file {
    position: relative;
    overflow: hidden;
    border-radius: 0; 
}



#form-send .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
    
}

.menu-filling{
  padding: 0;
  margin: 0;
}

.menu-filling  li{
  list-style: none;
  display: inline;
  padding-top: 15px;
  margin-right: 10px;
}

.menu-filling  li:first-child{
   border: none;
}

.menu-filling  li a{
    padding: 6px;
    background-color: #fff;
    border: 1px solid #DDD;
    color: #404040;
}

.menu-filling>li.active>a,
.menu-filling>li.active>a:focus,
.menu-filling  li a:hover,
.menu-filling  li a:active{
    background-color: #F1F1F1;
}

/*.menu-filling  li a:after{
   content: "";
   position: absolute;
   right: 0;
   border-right: 1px solid #DDD;
   padding-top: 25px;
   z-index: 999;
   margin-right: -10px;
}*/


.menu-filling-wrapper{
  padding-bottom: 25px;
}

.menu-filling-option{
  padding-bottom: 10px;
}

.menu-filling-option .btn{
  border-radius: 50%;
}

.menu-filling-option label{
  font-weight: normal;
  font-size: 18px;
}



.input-mini{
  width: 100%;
}


@media(min-width:768px) {

    .input-mini{
      width: 50%;
    }


    .panel .table>tbody>tr>td, 
    .panel .table>tbody>tr>th, 
    .panel .table>tfoot>tr>td, 
    .panel .table>tfoot>tr>th, 
    .panel .table>thead>tr>td, 
    .panel .table>thead>tr>th {
         padding: 3px;
    }

 
  .radio label{
     padding-right: 10px;
  }

  .nav-tabs{
    border: none;
  }

  #title-page{
   font-weight: normal;
   font-size: 25px;
   color: #333333;
   float: left;
   padding-right: 15px;
  }

  #bar{
     margin-top: 6px;
  }

	
  
  #wrapper .form-mailbox .x-button{
    background-color: #ececec;
    margin-top: 10px;
    width: 360px;
  }


  #wrapper .txt-search{
     background-color: #e4e4e4;
     width: 650px;
  }


   #info,#wrapper {
        min-height: 100%;
    }

  #info .col-lg-8 p:before{
        content: "";   
        padding-top: 250px;
        border-left: 1px solid #e1e1e1;
        position: absolute;
        z-index: 900;
        top: 0;
        margin-top: 20px;
        margin-left: -70px;
    }

    #info .col-lg-8 h2,
    #info .col-lg-8 p{
        padding-left: 200px;
    }

    #shortcut>.container>.row>.col-lg-8>ul>li{
      list-style-type: none;
      display: inline;
    }

    header .bubble h2,p{
     color: #000;
     padding: 0;
    }

  .navbar-default .first>li{
    text-align: left;
  }

  .navbar-default .last>li:nth-child(2){
    text-align: center;
  }

  .navbar-default .last>li:nth-child(2) img{
    width: 50px;
    min-width: 50px;
  }

  

  .navbar-default .first{
        padding-left: 66px;   
		
    }

    .navbar-default .first>li{
      background-color: #f0f0f0;
      padding: 19px 0;
      font-size: 16px;
    }

    .navbar-default .first>li a{
      vertical-align: middle;
	 
    }

    .navbar-default .first>li:first-child{
      
       border-left: 1px solid #e7e7e7;
    }

   

    .navbar-default .first .fa{
        margin-right: 5px; 
        color: #fc7930;
    }

    .navbar-default .first>li:last-child{
        border-right: 1px solid #e7e7e7;
    }

    .navbar-default .first>li:last-child:before{
        
    }

     .navbar-default .first>li a:after{
         content: "";
         position: absolute;
         top: 0;
         bottom: 0;
         right: 0;
         border-right: 1px solid #e7e7e7;
         padding: 20px 0;
     } 

     .navbar-default .first>li:last-child a:after{
        border: none;
     } 

    .navbar-default .last{
      padding: 15px 0;
      margin: 0;
    }

    .navbar-default .last>li{
        text-align: left;
    }

    .navbar-default .last>li>ul{
      padding: 0;
      margin: 0;
    }

    .navbar-default .last>li>ul>li{
      list-style: none;
    }

    .navbar-default .last>li:first-child>ul>li:last-child{
      list-style: none;
      text-align: right;
    }

    .navbar-default .last>li:last-child>ul>li:last-child{
      list-style: none;
      text-align: left;
    }
	

    .navbar-nav>li>a {
      padding-bottom: 20px;
    }
	
	   #menu-nav{
      position: fixed;
      right: 0;
      left: 0;
      z-index: 1030;
      margin-top: 90px;
    }
	
	
	

}

.box.box-primary {
    border-top-color: #3c8dbc;
}

.box.box-success {
    border-top-color: #00a65a;
}

.box.box-info {
    border-top-color: #00c0ef;
}

.box.box-danger {
    border-top-color: #d43f3a;
}

.box.box-warning {
    border-top-color: #eea236;
}



.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100% !important;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
}

.box-header>.fa, .box-header>.glyphicon, .box-header>.ion, .box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}

.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}

.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff;
    overflow: hidden;
}

.box img{
  border: 1px solid #e7e7e7;
}

.wizard{
  
}

.wizard  li{
  display: inline;
}

.box-footer button,
.box-footer input[type='submit']{
  float: right;
}

.box-footer .wizard{
  float: left;
}

.btn-dashboard{
   background: -webkit-linear-gradient(#fefefe, #e1e1e1);
}

.btn-dashboard .fa-plus-circle{
  color : #00a8ec;
}

.btn-dashboard .fa-envelope{
  color : #00a8ec;
}

.btn-dashboard .fa-question-circle{
   color: #ef9f66;
}


element.style {
   width: auto;
   height: auto;
   clear: both;
}


#f-progress{
  
}


#menu-main-left{
	
}



#navi{
	padding-bottom: 0;
}

#sidebar.affix-top {
    position: static;
    margin-top:10px;
    width: 100%;
  }

  #sidebar.affix {
    position: fixed;
    top:200px;
    width: 14%;
	margin-top:5px;
  }

  .remodal-wrapper #notice{
      overflow: hidden;
      padding: 0;
      margin: 0;
  }

  .remodal-wrapper #notice img{
    display: none;
  }

    .remodal-wrapper #notice p{
        font-weight: normal;
        font-size: 14px;
    }

    .remodal-wrapper .navbar{
        background: none;
    }

    .remodal-wrapper .navbar ul{
       margin: 0;
       padding-left: 15px;
    }

    .remodal-wrapper .navbar ul li{
      width: 15%;  
      display: inline;

    }

    .remodal-wrapper .nav-pills>li>a{
       border-radius: none;
    }

    .remodal-wrapper .nav-pills>li.active>a, 
    .remodal-wrapper .nav-pills>li.active>a:focus, 
    .remodal-wrapper .nav-pills>li.active>a:hover, 
    .remodal-wrapper .nav-pills>li>a:hover{
       border-radius: 0;
       background: -webkit-linear-gradient(#00c0ef, #00c0ef);
    }

    .remodal-wrapper .remodal-close-form{
       background-color: #D3D3D3;
       border-radius: 50%;
    }

    #menu-nav{
      position: fixed;
      right: 0;
      left: 0;
      z-index: 1030;
      margin-top: 80px;
      padding: 12px 0;
    }

     #menu-nav ul{
       margin: 0;
     }

     #menu-nav ul li{
       list-style-type: none;
       display: inline;
       margin-right: 10px;
     }

     #menu-nav ul li a{
      color: #777;
       font-size: 16px;
       text-decoration: none;
       background: none;
       -webkit-transition: background-color 500ms ease-in-out;
       padding: 3px 15px;
       
       border-radius: 6px;
     }

     #menu-nav ul li a:hover,
     #menu-nav ul li .active{
        background: -webkit-linear-gradient(#fe3001, #c71015);
        background: -moz-linear-gradient(#fe3001, #c71015);
        background: linear-gradient(#fe3001, #c71015);
        color: #fff;
        border: 1px solid #CCC;
     }

     .box-body .block-body{
       display:  block;
       margin-top: 10px;
     }

     .file-input{
      overflow: hidden;
     }

     .remodal{
       margin: 0;
     }

     .dates{
      width: 25%;
     }

     .text-mini{
        width: 25%;
     }

     .input-wrapper{
        overflow: hidden;
     }

     .input-wrapper select,
     .input-wrapper input{
       display: inline;
       margin-right: 5px;
       width: 40%;
     }

     .navbar-profile ul {
        padding: 0;
        margin: 0;
     }
     
     .navbar-profile ul li{
        list-style-type: none;
        display: inline;
     }

.alert{
    margin: 0;
    margin-bottom: 1px;
}
.alert,
.alert h4 {
    color: #c09853;
}

.alert h4 {
    margin: 0;
}

.alert .close {
    position: relative;
    top: -2px;
    right: -10px;
    line-height: 22px;
}

.alert-success {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-success h4 {
    color: #468847;
}

.alert-danger,
.alert-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.alert-danger h4,
.alert-error h4 {
    color: #b94a48;
}

.alert-info {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-info h4 {
    color: #3a87ad;
}

.alert-block {
    padding-top: 14px;
    padding-bottom: 14px;
}

.alert-block > p,
.alert-block > ul {
    margin-bottom: 0;
}

.alert-block p + p {
    margin-top: 5px;
}

.label-inverse, .badge-inverse {
    background-color: #d9534f;
}

@media (min-width: 768px){
  .navbar {
    border-radius: 0px !important;
  }
}

.red-label{
  color: red;
}


.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.popover {
    z-index: 1010; /* A value higher than 1010 that solves the problem */
}

.list-value{
  padding: 0;
  margin: 0;
  font-size: 12px;
}

.list-value ul{
   margin: 0;
   padding: 0;
}

.list-value ul li{
  list-style-type: none;
    margin: 0;
   padding: 0;
}


.list-value ul li span:last-child{
  text-align: justify;
}

.list-value .btn{
  margin: 2px;
}

.table-child{
 border: none;
  background: none !important;

}

.table-child tbody tr td{
  border: none;
  padding: 1px;
}

.table-child tbody tr th{

}

.table-input td{
  margin: 0;
  padding: 0;
}

.table-child tbody tr td:nth-child(1){
   border: none;
   width: 100px !important;
}

.table-child tbody tr td:nth-child(2){
   border: none;
   width: 1px !important;
}

.table-child tbody tr td:nth-child(3){
  border: none;
  width: 170px !important;
  text-align: left;
}

.table-input > thead,
.table-filing > thead {
  background: -webkit-linear-gradient(#3c8dbc, #09C);
  background: -moz-linear-gradient(#3c8dbc, #09C);
  background: linear-gradient(#3c8dbc, #09C);
  color: #fff;
 /* background-color: #f0f0f0;*/
  font-weight: normal;
}

.table-input  > thead > tr > th{
  padding: 8px;
}

.table-input  > tbody > tr > td{
  margin: 0;
  padding: 3px 0px 3px 8px;
}

.table-input input{
  width: 80%;
  height: 100%;
  border: none;
  padding: 4px;
  font-weight: normal;
  text-align: right;
}

.box-body .box{
  margin-top: 15px;
  box-shadow: none;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.sum-total{
  border-bottom: 1.5px solid #000;
}

.result-lhkpn table{
   font-weight: normal;
   font-size: 12px;
}

.table-regular > thead > tr > th{
   padding: 8px !important;
}

.dataTables_wrapper .btn,
.table-regular .btn{
   margin: 2px;
}

#sidebar:after{
	content:"";
	position: absolute;
	top: 0;
	right: 0;
	z-index: 999;
	border: 0.01px solid #e7e7e7;
	width: 0px;
	height: 400px;
	margin-right: -16px;
}

.modal-header{
  background-color: #818285;
  color: #fff;
}

.modal-header button{
  color: #fff;
  opacity: 1;
}

.dataTable thead tr th,
.dataTable thead tr td{
  text-align: center;
}

table.dataTable td, table.dataTable th {
  font-size: 12.5px !important;
}


.result-row{
/*  border: 1px solid red;*/
  width: 40%;
  text-align: right;
  padding-left: 10px;
}

.result-row2{
/*  border: 1px solid red;*/
  width: 10%;
  text-align: right;
  padding-left: 10px;
}

#page-top{
  padding-right: 0px !important;
}
/* The Modal (background) */
.modal-custom {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2147483647; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content-custom  {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */


.modal-header-custom {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body-custom {padding: 2px 16px;}

.modal-footer-custom {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

ul.legend {list-style:none;}
ul.legend li{display:inline; padding:5px; }
ul.legend li:nth-child(1):before {
  color:rgba(210, 214, 222, 1); 
  content:"\25A0"; 
  font-size:1.5em;
  padding-right:.25em;
  position:relative;
}

ul.legend li:nth-child(2):before {
  color:#00a65a; 
  content:"\25A0"; 
  font-size:1.5em;
  padding-right:.25em;
  position:relative;
}

table .selected{
  /* background-color: #f0ad4e; */
  background-color: #0eaefb;
  color: #fff;
}

table .sent{
  background-color: #66ccff;
  color: #fff;
}


.modal {
  overflow-y:auto !important;
}

.modal::-webkit-scrollbar {
    visibility: hidden;
}

a.files{
  color: #f0ad4e;
}

.peringatan{
  position: absolute;
  width: 50%;
  z-index: 1053;
  top: 0;
  margin-top: 10%;
  margin-left: 25%;
  display: none;
 
}

.peringatan .alert{
  border: 1px solid #b94a48;
}

/* .dataTables_filter{
    display: none;
}*/
#imgFotoProfil, .file-preview-image{
    max-width: 260px; 
    display: block; 
    height: auto; 
    width: auto;
}

.file-preview-frame{
    height: auto;
}

#pswd-info-1, #pswd-info-2, #pswd-info-profile-1, #pswd-info-profile-2 {
  position:absolute;
  bottom:121px;
  bottom: -115px\9; /* IE Specific */
  right: -321px;
  width: 329px;
  padding:15px;
  background:#fefefe;
  font-size:.875em;
  border-radius:5px;
  box-shadow:0 1px 3px #ccc;
  border:1px solid #ddd;
}

.invalid, .invalid-2 {
  background:url(../icon/close.png) no-repeat 0 50%;
  filter: invert(46%) sepia(69%) saturate(3139%) hue-rotate(329deg) brightness(88%) contrast(113%);
  padding-left:22px;
  line-height:24px;
}

.valid, .valid-2 {
  background:url(../icon/check.png) no-repeat 0 50%;
  filter: invert(40%) sepia(7%) saturate(6379%) hue-rotate(71deg) brightness(91%) contrast(66%);
  padding-left:22px;
  line-height:24px;
}

.valid-3 {
  background:url(../icon/valid-icon.svg) no-repeat 0 20%;
  filter: invert(40%) sepia(7%) saturate(6379%) hue-rotate(71deg) brightness(91%) contrast(66%);
  padding-left:22px;
  line-height:24px;
}

.invalid-3 {
  background:url(../icon/invalid-icon.svg) no-repeat 0 20%;
  filter: invert(46%) sepia(69%) saturate(3139%) hue-rotate(329deg) brightness(88%) contrast(113%);
  padding-left:22px;
  line-height:24px;
}

.valid-3, .invalid-3{
  height: 35%;
  width: 35%;
  margin-right: -30%;
  margin-top: 1%;
}

.valid-4 {
  background:url(../icon/valid-icon.svg) no-repeat 0 20%;
  filter: invert(40%) sepia(7%) saturate(6379%) hue-rotate(71deg) brightness(91%) contrast(66%);  
}

.invalid-4 {
  background:url(../icon/invalid-icon.svg) no-repeat 0 20%;
  filter: invert(46%) sepia(69%) saturate(3139%) hue-rotate(329deg) brightness(88%) contrast(113%);
}

.valid-4, .invalid-4 {
  padding-left:22px;
  line-height:24px;
  height: 35% !important;
  width: 35% !important;
  margin-right: -29%;
  margin-top: 1%;
}
