.sidebox1:hover{
    height: 41.5px;
    width:550px;
    z-index: 99;
    background-color: #ECF0F5;
    color: #B8C7CE;
    box-shadow: 0 0 7px black;
}
.sidebox2:hover{
    height: 41.5px;
    width:150px;
    z-index: 99;
    background-color: #ECF0F5;
    color: #B8C7CE;
    box-shadow: 0 0 7px black;
}
.sidebox3:hover{
    height: 41.5px;
    width:200px;
    z-index: 99;
    background-color: #ECF0F5;
    color: #B8C7CE;
    box-shadow: 0 0 7px black;
}
.sidebox4:hover{
    height: 41.5px;
    width:350px;
    z-index: 99;
    background-color: #ECF0F5;
    color: #B8C7CE;
    box-shadow: 0 0 7px black;
}
.sidebox5:hover{
    height: 41.5px;
    width:320px;
    z-index: 99;
    background-color: #ECF0F5;
    color: #B8C7CE;
    box-shadow: 0 0 7px black;
}
.sidebox6:hover{
    height: 41.5px;
    width:950px;
    z-index: 99;
    background-color: #ECF0F5;
    color: #B8C7CE;
    box-shadow: 0 0 7px black;
}
.sidebox7:hover{
    height: 41.5px;
    width:150px;
    z-index: 99;
    background-color: #ECF0F5;
    color: #B8C7CE;
    box-shadow: 0 0 7px black;
}
.sidebox8:hover{
    height: 41.5px;
    width:150px;
    z-index: 99;
    background-color: #ECF0F5;
    color: #B8C7CE;
    box-shadow: 0 0 7px black;
}
.sidebox9:hover{
    height: 41.5px;
    width:150px;
    z-index: 99;
    background-color: #ECF0F5;
    color: #B8C7CE;
    box-shadow: 0 0 7px black;
}
.sidebox10:hover{
    height: 41.5px;
    width:100px;
    z-index: 99;
    background-color: #ECF0F5;
    color: #B8C7CE;
    box-shadow: 0 0 7px black;
}
.sidebox11:hover{
    height: 41.5px;
    width:300px;
    z-index: 99;
    background-color: #ECF0F5;
    color: #B8C7CE;
    box-shadow: 0 0 7px black;
}
.sidebox12:hover{
    height: 41.5px;
    width:300px;
    z-index: 99;
    background-color: #ECF0F5;
    color: #B8C7CE;
    box-shadow: 0 0 7px black;
}
.sidebox13:hover{
    height: 41.5px;
    width:700px;
    z-index: 99;
    background-color: #ECF0F5;
    color: #B8C7CE;
    box-shadow: 0 0 7px black;
}
.sidebox14:hover{
    height: 41.5px;
    width:450px;
    z-index: 99;
    background-color: #ECF0F5;
    color: #B8C7CE;
    box-shadow: 0 0 7px black;
}
.sidebox15:hover{
    height: 41.5px;
    width:350px;
    z-index: 99;
    background-color: #ECF0F5;
    color: #B8C7CE;
    box-shadow: 0 0 7px black;
}
.sidebox16:hover{
    height: 41.5px;
    width:250px;
    z-index: 99;
    background-color: #ECF0F5;
    color: #B8C7CE;
    box-shadow: 0 0 7px black;
}
.sidebox17:hover{
    height: 41.5px;
    width:250px;
    z-index: 99;
    background-color: #ECF0F5;
    color: #B8C7CE;
    box-shadow: 0 0 7px black;
}